<% blood_sugar = (defined?(bld_sgr)) ? bld_sgr : {} %>
<div class="box">
  <div class="box-header">
    <h2>
      <!--<i class="fa fa-signal"></i><span class="break"></span>-->
      blood sugar
    </h2>

    <div class="box-icon" style="width: 70px">
      <a class="bs-week well-week active" href="#">W</a>
      <a class="bs-month well-month" href="#">M</a>
    </div>
  </div>
  <div class="box-content avg_bs_content">

    <div class="row">
      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-12" style=" text-align: center;line-height: 15px;">
            <h5 style="font-weight: bold; font-size: 15px;">HBA1C</h5>
              <span style="font-size: 30px; color: #ffae00">
                <%= blood_sugar['h1c'] %>
              </span>
            <br>
            mg/dl
            <br>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12" style=" text-align: center;line-height: 15px;margin-top: 2%">
            <h5 style="font-weight: bold; font-size: 15px;">FASTING
            </h5>
              <span style="font-size: 30px; color: #a9d248">
                <%= blood_sugar['gluc'] %>
              </span>
            <br>
            mg/dl
            <br>
          </div>
        </div>

      </div>
      <div class="col-sm-8">
        <h5 style="font-weight: bold; text-align: center;font-size: 16px">Biggest Movers</h5>
        <% 5.times do  %>
          <div class="row" style="margin: 5px;">
            <div class="col-xs-12 col-sm-7">
              <img src="http://www.peopleplacers.co.uk/wp-content/uploads/2012/07/business-people1.jpg" width="25" height="25">
              <span style="color: #555555">
                Keer Yee
              </span>
            </div>
            <div class="col-xs-12 col-sm-3" style="">
              189/95
            </div>
            <div class="col-xs-12 col-sm-2" style="">
              <span class="arrow-s" style="font-size:1em;"></span>
            </div>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>

<script>
  function row3_ht(){
    var bs_cnt_ht = $('.avg_bs_content').outerHeight();
    var pf_cnt_ht = $('.perf_cont').outerHeight();
    if (bs_cnt_ht > pf_cnt_ht) {
      $('.perf_cont').css('min-height', bs_cnt_ht+'px');
    } else {
      $('.avg_bs_content').css('min-height', pf_cnt_ht+'px');
    }
  }
  $(window).resize(row3_ht);
  row3_ht();

  $('.bs-week').on('click', function(){
//    $('.bs-week-div').show();
//    $('.bs-month-div').hide();
    $(this).addClass('active');
    $('.bs-month').removeClass('active');
    return false
  });

  $('.bs-month').on('click', function(){
//    $('.bs-week-div').hide();
//    $('.bs-month-div').show();
    $(this).addClass('active');
    $('.bs-week').removeClass('active');
    return false
  });
</script>