<div class="box">
  <div class="box-header">
    <h2>
      <!--<i class="fa fa-signal"></i><span class="break"></span>-->
      Blood Pressure
    </h2>

    <div class="box-icon">
      <a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
      <!--<a href="#" class="btn-close"><i class="fa fa-times"></i></a>-->
    </div>
  </div>
  <div class="box-content">

    <div class="row">
      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-12" style=" text-align: center;line-height: 15px;">
            <h5 style="font-weight: bold;">AVG. SYSTOLIC</h5>
              <span style="font-size: 30px; color: #ffae00">
                129
              </span>
            <br>
            mg/dl
            <br>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12" style=" text-align: center;line-height: 15px;margin-top: 2%">
            <h5 style="font-weight: bold;">AVG. DIASTOLIC</h5>
              <span style="font-size: 30px; color: #a9d248">
                73
              </span>
            <br>
            mg/dl
            <br>
          </div>
        </div>

      </div>
      <div class="col-sm-8">
        <h5 style="font-weight: bold; text-align: center;">Biggest Movers</h5>

        <div class="row" style="margin: 5px;">
          <div class="col-xs-12 col-sm-7">
            <img src="http://www.peopleplacers.co.uk/wp-content/uploads/2012/07/business-people1.jpg" width="25" height="25">
            Keer Yee
          </div>
          <div class="col-xs-12 col-sm-3" style="color: #e75735">
            <!--<span class="pull-right">-->
            189/95
            <!--</span>-->
          </div>
          <div class="col-xs-12 col-sm-2" style="color: #e75735">
            <i class="fa fa-arrow-up" style="font-size: 18px;"></i>
          </div>
        </div>
        <div class="row" style="margin: 0 5px;">
          <div class="col-sm-7">
            <img src="http://us.123rf.com/400wm/400/400/kjpargeter/kjpargeter1008/kjpargeter100800088/7663132-siluetas-de-personas-bailando-sobre-fondo-estrellado.jpg" width="25" height="25">
            Jonathan j kim
          </div>

          <div class="col-sm-3" style="color: #ffae00">
            143/87
          </div>
          <div class="col-sm-2" style="color: #ffae00">
            <i class="fa fa-arrow-down" style="font-size: 18px;"></i>
          </div>
        </div>


      </div>
    </div>

  </div>
</div>
