<div class="box">
  <div class="box-header">
    <h2>
      <!--<i class="fa fa-list"></i><span class="break"></span>-->
      performance
    </h2>

    <div class="box-icon" style="width: 115px;">
      <a class="pf-week well-week active" href="#">Best</a>
      <a class="pf-month well-month" href="#">Worst</a>
    </div>
  </div>
  <div class="box-content perf_cont">

    <% 5.times do %>
      <div class="row" style="margin: 0 5px;">
        <div class="col-sm-6">
          <img src="http://www.peopleplacers.co.uk/wp-content/uploads/2012/07/business-people1.jpg" width="25" height="25">
          Keer Yee
        </div>
        <div class="col-sm-4">
          <div class="performance_bar"></div>
        </div>
        <div class="col-sm-2" style="font-weight: bold; font-size: 18px; color: #B1B1B1">
          4/9/14
        </div>
      </div>
    <% end %>
  </div>
</div>


<style>
  .pf-month.active{
    padding: 4% 9%;
  }

  .performance_bar{
    padding: 8%;
    margin: 5% 0;
    background: -webkit-linear-gradient(left, #F2AF00 , #a9d248); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #F2AF00, #a9d248); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #F2AF00, #a9d248); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #F2AF00 , #a9d248); /* Standard syntax */
    height: 20px !important;
  }
</style>

<script>
  $('.pf-week').on('click', function(){
//    $('.pf-week-div').show();
//    $('.pf-month-div').hide();
    $(this).addClass('active');
    $('.pf-month').removeClass('active');
    return false
  });

  $('.pf-month').on('click', function(){
//    $('.pf-week-div').hide();
//    $('.pf-month-div').show();
    $(this).addClass('active');
    $('.pf-week').removeClass('active');
    return false
  });
</script>