<% upcoming_patients = (defined?(patients)) ? patients : [] %>
<div class="box">
  <div class="box-header">
    <h2>
      Upcoming Patients
    </h2>

    <div class="box-icon">
    </div>
  </div>

  <div class="box-content upcoming_patient_content">
    <% upcoming_patients.each do |patient| %>
      <div class="row" style="margin: 0 5px;">
        <div class="col-xs-12 col-sm-6">
          <img src="http://www.peopleplacers.co.uk/wp-content/uploads/2012/07/business-people1.jpg" width="25" height="25">
          <%= patient['name'] %>
        </div>
        <div class="col-xs-12 col-sm-2">
          <%= patient['Appointment_Date'].to_time.strftime('%H:%M') %>
        </div>
        <div class="col-xs-1 col-sm-1" style="padding: 0;width: 0;">|</div>
        <div class="col-xs-12 col-sm-3">
          <%= patient['Appointment_Date'].to_time.strftime('%m/%e/%y') %>
        </div>
      </div>
    <% end %>
  </div>

</div>
