<div class="box">
  <div class="box-header">
    <h2>
      <!--<i class="fa fa-list"></i><span class="break"></span>-->
      Weight
    </h2>

    <div class="box-icon" style="width: 70px">
      <a class="wt-week well-week active" href="#">W</a>
      <a class="wt-month well-month" href="#">M</a>
    </div>
  </div>
  <div class="box-content avg_wt_cont">

  </div>
</div>


<script>
  $('.wt-week').on('click', function(){
//    $('.wt-week-div').show();
//    $('.wt-month-div').hide();
    $(this).addClass('active');
    $('.wt-month').removeClass('active');
    return false
  });

  $('.wt-month').on('click', function(){
//    $('.wt-week-div').hide();
//    $('.wt-month-div').show();
    $(this).addClass('active');
    $('.wt-week').removeClass('active');
    return false
  });
</script>