<div class="box">
  <div class="box-header">
    <h2>
      <!--<i class="fa fa-list"></i><span class="break"></span>-->
      Performance
    </h2>

    <div class="box-icon">
      <a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
      <!--<a href="#" class="btn-close"><i class="fa fa-times"></i></a>-->
    </div>
  </div>
  <div class="box-content">

    <div class="row" style="margin: 0 5px;">
      <div class="col-sm-6">
        <img src="http://www.peopleplacers.co.uk/wp-content/uploads/2012/07/business-people1.jpg" width="25" height="25">
        Keer Yee
      </div>
      <div class="col-sm-2">
                  <span class="pull-right">
                    9:10
                  </span>
      </div>
      <div class="col-sm-4">
        |
        Check-up
      </div>
    </div>

    <div class="row" style="margin: 0 5px;">
      <div class="col-sm-6">
        <img src="http://us.123rf.com/400wm/400/400/kjpargeter/kjpargeter1008/kjpargeter100800088/7663132-siluetas-de-personas-bailando-sobre-fondo-estrellado.jpg" width="25" height="25">
        Jonathan j kim
      </div>
      <div class="col-sm-2">
                  <span class="pull-right">
                    10:30
                  </span>
      </div>
      <div class="col-sm-4">
        |
        Urgent
      </div>
    </div>

  </div>
</div>
