<div id="content" class="col-sm-12">

  <div class="row">
    <div class="col-md-10 col-md-offset-1">


      <div class="row circleStats" style="min-width: 308px;">

        <div class="col-md-3 col-sm-4 col-xs-6">
          <div class="circleStatsItem red">
            <i class="fa  fa-thumbs-up"></i>
            <span class="plus">+</span>
            <span class="percent">%</span>
            <input type="text" value="58" class="orangeCircle"/>
          </div>
          <div class="box-small-title">met the points goal</div>
        </div>
        <!--/col-->

        <div class="col-md-3 col-sm-4 col-xs-6">
          <div class="circleStatsItem blue">
            <i class="fa  fa-bullhorn"></i>
            <span class="plus">+</span>
            <span class="percent">%</span>
            <input type="text" value="8" class="blueCircle"/>
          </div>
          <div class="box-small-title">met the steps goal</div>
        </div>
        <!--/col-->

        <div class="col-md-3 col-sm-4 col-xs-6">
          <div class="circleStatsItem yellow">
            <i class="fa  fa-user"></i>
            <span class="plus">+</span>
            <span class="percent">%</span>
            <input type="text" value="12" class="yellowCircle"/>
          </div>
          <div class="box-small-title">met the calorie goal</div>
        </div>
        <!--/col-->

        <div class="col-md-3 col-sm-4 col-xs-6">
          <div class="circleStatsItem pink">
            <i class="fa  fa-globe"></i>
            <span class="plus">+</span>
            <span class="percent">%</span>
            <input type="text" value="23" class="pinkCircle"/>
          </div>
          <div class="box-small-title">met the distance goal</div>
        </div>
        <!--/col-->

      </div>
      <!--/row-->

      <div class="row">
        <div style="text-align: center;">
          <img alt="Dropshadow" src="/assets/dropshadow.png" style="width: 80%;">
        </div>
      </div>


      <div class="row">

        <div class="col-md-6 col-sm-12">
          <div class="box">
            <div class="box-header">
              <h2>
                <!--<i class="fa fa-signal"></i><span class="break"></span>-->
                Upcoming Patients
              </h2>

              <div class="box-icon">
                <a href="index.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                <a href="index.html#" class="btn-close"><i class="fa fa-times"></i></a>
              </div>
            </div>
            <div class="box-content">

              <div class="row" style="margin: 0 5px;">
                <div class="col-xs-12 col-sm-6">
                  <img src="http://www.peopleplacers.co.uk/wp-content/uploads/2012/07/business-people1.jpg" width="25" height="25">
                  Keer Yee
                </div>
                <div class="col-xs-12 col-sm-2">
                  <!--<span class="pull-right">-->
                    9:10
                  <!--</span>-->
                </div>
                <div class="col-xs-12 col-sm-4">
                  |
                  Check-up
                </div>
              </div>

              <div class="row" style="margin: 0 5px;">
                <div class="col-sm-6">
                  <img src="http://us.123rf.com/400wm/400/400/kjpargeter/kjpargeter1008/kjpargeter100800088/7663132-siluetas-de-personas-bailando-sobre-fondo-estrellado.jpg" width="25" height="25">
                  Jonathan j kim
                </div>
                <div class="col-sm-2">
                  <span class="pull-right">
                    10:30
                  </span>
                </div>
                <div class="col-sm-4">
                  |
                  Urgent
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="col-md-6 col-sm-12">
          <div class="box">
            <div class="box-header">
              <h2>
                <!--<i class="fa fa-list"></i><span class="break"></span>-->
                Worst Performers
              </h2>

              <div class="box-icon">
                <a href="index.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                <a href="index.html#" class="btn-close"><i class="fa fa-times"></i></a>
              </div>
            </div>
            <div class="box-content">

              <div class="row" style="margin: 0 5px;">
                <div class="col-sm-6">
                  <img src="http://www.peopleplacers.co.uk/wp-content/uploads/2012/07/business-people1.jpg" width="25" height="25">
                  Keer Yee
                </div>
                <div class="col-sm-2">
                  <span class="pull-right">
                    9:10
                  </span>
                </div>
                <div class="col-sm-4">
                  |
                  Check-up
                </div>
              </div>

              <div class="row" style="margin: 0 5px;">
                <div class="col-sm-6">
                  <img src="http://us.123rf.com/400wm/400/400/kjpargeter/kjpargeter1008/kjpargeter100800088/7663132-siluetas-de-personas-bailando-sobre-fondo-estrellado.jpg" width="25" height="25">
                  Jonathan j kim
                </div>
                <div class="col-sm-2">
                  <span class="pull-right">
                    10:30
                  </span>
                </div>
                <div class="col-sm-4">
                  |
                  Urgent
                </div>
              </div>

            </div>
          </div>

        </div>
        <!--/col-->

      </div>

      <div class="row">

        <div class="col-md-6 col-sm-12">
          <div class="box">
            <div class="box-header">
              <h2>
                <!--<i class="fa fa-signal"></i><span class="break"></span>-->
                Blood Pressure
              </h2>

              <div class="box-icon">
                <a href="index.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                <a href="index.html#" class="btn-close"><i class="fa fa-times"></i></a>
              </div>
            </div>
            <div class="box-content">

              <div class="row">
                <div class="col-sm-4">
                  <div class="row">
                    <div class="col-sm-12" style=" text-align: center;line-height: 15px;">
                      <h5 style="font-weight: bold;">AVG. SYSTOLIC</h5>
                      <span style="font-size: 30px; color: #ffae00">
                        129
                      </span>
                      <br>
                      mg/dl
                      <br>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-12" style=" text-align: center;line-height: 15px;margin-top: 2%">
                      <h5 style="font-weight: bold;">AVG. DIASTOLIC</h5>
                      <span style="font-size: 30px; color: #a9d248">
                        73
                      </span>
                      <br>
                      mg/dl
                      <br>
                    </div>
                  </div>

                </div>
                <div class="col-sm-8">
                  <h5 style="font-weight: bold; text-align: center;">Biggest Movers</h5>
                  <div class="row" style="margin: 5px;">
                    <div class="col-xs-12 col-sm-7">
                      <img src="http://www.peopleplacers.co.uk/wp-content/uploads/2012/07/business-people1.jpg" width="25" height="25">
                      Keer Yee
                    </div>
                    <div class="col-xs-12 col-sm-3">
                      <!--<span class="pull-right">-->
                      189/95
                      <!--</span>-->
                    </div>
                    <div class="col-xs-12 col-sm-2">
                      /_\
                    </div>
                  </div>
                  <div class="row" style="margin: 0 5px;">
                    <div class="col-sm-7">
                      <img src="http://us.123rf.com/400wm/400/400/kjpargeter/kjpargeter1008/kjpargeter100800088/7663132-siluetas-de-personas-bailando-sobre-fondo-estrellado.jpg" width="25" height="25">
                      Jonathan j kim
                    </div>
                    <div class="col-sm-3">
                      143/87
                    </div>
                    <div class="col-sm-2">
                      /_\
                    </div>
                  </div>


                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="col-md-6 col-sm-12">
          <div class="box">
            <div class="box-header">
              <h2>
                <!--<i class="fa fa-list"></i><span class="break"></span>-->
                Weight
              </h2>

              <div class="box-icon">
                <a href="index.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                <a href="index.html#" class="btn-close"><i class="fa fa-times"></i></a>
              </div>
            </div>
            <div class="box-content">

            </div>
          </div>

        </div>
        <!--/col-->

      </div>



    </div>
  </div>

</div>