<%#= raise we_colors[:hba1c_color].inspect %>
<div class="box span4 we-blood-sugar" ontablet="span6" ondesktop="span4">
  <div class="we-title">
    Blood Sugar
  </div>
  <div class="we-content">
    <div class="box">
      <ul class="nav nav-tabs">
        <li class="active">

          <a href="#hba1c" class="hba1c" data-toggle="tab" style="font-size: 14px; color: #a1a1a1; text-align: center">
            <span style="font-size: 28px;" class="<%= we_colors[:hba1c_color] %>">
              <%= biometrics['h1c']['value'] %>
              <i class="fa fa-chevron-down"></i>
            </span>
            <br>
            HbA1c &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </a>
        </li>
        <li>
          <a href="#fasting" data-toggle="tab" style="font-size: 14px; color: #a1a1a1; text-align: center">
            <span style="font-size: 28px;" class="<%= we_colors[:gluc_color] %>">
              <%= biometrics['gluc']['value'] %>
              <i class="fa fa-chevron-up"></i>
            </span>
            <br>
            fasting &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </a>
        </li>
      </ul>


      <div class="tab-content">
        <div id="hba1c" class="tab-pane active">
          <div class="box">
            <div id="weight-chxxart"  class="center" style="height:250px;" ></div>
          </div>
        </div>
        <div id="fasting" class="tab-pane">
          <p>Other</p>
        </div>
      </div>


    </div>
  </div>
</div>

