<div class="box span4" ontablet="span6" ondesktop="span4">
  <div class="we-title">
    Blood Sugar
  </div>
  <div class="we-content">
    <div class="box">
      <ul class="nav nav-tabs">
        <li class="active">
          <a href="#hba1c" data-toggle="tab" style="font-size: 12px; color: #CCCCCC; text-align: center">
            <span style="font-size: 28px; color: #a9d248;">
              <%= biometrics['h1c']['value'] %>
              <i class="fa fa-chevron-down"></i>
            </span>
            <br>
            HbA1c &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </a>
        </li>
        <li>
          <a href="#fasting" data-toggle="tab" style="font-size: 12px; color: #CCCCCC; text-align: center">
            <span style="font-size: 28px; color: #73c3c3;">
              <%= biometrics['gluc']['value'] %>
              <i class="fa fa-chevron-up"></i>
            </span>
            <br>
            fasting &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </a>
        </li>
      </ul>


      <div class="tab-content">
        <div id="hba1c" class="tab-pane active">
          <div class="box">
            <div id="weight-chart"  class="center" style="height:250px;" ></div>
          </div>
        </div>
        <div id="fasting" class="tab-pane">
          <p>Other</p>
        </div>
      </div>


    </div>
  </div>
</div>
