
<div class="row" style="">
  <div class="col-md-12" style="margin: auto; margin-top: 10%;">
    <div class="calendar"></div>
  </div>
</div>

<script>
  $('.calendar').fullCalendar({
    // put your options and callbacks here
  })

</script>