<div class="col-md-2 col-md-offset-1 col-sm-12 col-xs-12 we-target">
  TARGETs
  <i class="fa fa-pencil"></i>
</div>
<div class="col-md-1 col-sm-6 col-xs-12 we-target">
      <span>
        10,000
      </span>
  Steps/day
</div>

<div class="col-md-1 col-sm-6 col-xs-12 we-target">
      <span>
        5
      </span>
  Miles/day
</div>

<div class="col-md-2 col-sm-6 col-xs-12 we-target">
      <span>
        <%= targets['Minutes'] %>
      </span>
  Active minutes/day
</div>
<div class="col-md-1 col-sm-6 col-xs-12 we-target">
      <span>
        2,500
      </span>
  Calories/day
</div>
<div class="col-md-1 col-sm-6 col-xs-12 we-target">
      <span>
        <%= targets['BP'] %>
      </span>
  mg/dl
</div>

<div class="col-md-1 col-sm-6 col-xs-12 we-target">
      <span>
        <%= targets['WGHT'] %>
        <!--135-->
      </span>
  Pounds
</div>