<div class="container">
<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".sidebar-nav.nav-collapse">
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="index.html"> <img alt="Perfectum Dashboard" src="/assets/wellness logo trans.png"/>
  <!--<span>Wellness</span>-->
</a>

<span style="margin: 5px;">
  <%= text_field_tag 'search', nil, placeholder: 'Search by patient name', class: 'form-control patient-search', style: 'display: inline; ' %>
</span>

<div class="header-nav">
<ul class="nav navbar-nav pull-right nav-people">
  <li class="dropdown hidden-xs">
    <a class="btn" href="#">
      <i class="fa fa-group"></i>
    </a>
  </li>

  <li class="dropdown hidden-xs">
    <a class="btn" href="index.html#">
      <i class="fa fa-comments"></i>
    </a>
  </li>

  <li class="dropdown hidden-xs">
    <a class="btn" href="index.html#">
      <i class="fa fa-globe"></i>
    </a>
  </li>

</ul>
</div>
<!-- end: Header Menu -->

</div>
